/* 
===========================
|    TABLE OF CONTENTS    |
=========================== 
|    1. GLOBAL            |
|    2. MAIN              |
|    3. NAV               |
|    4. QUERIES           |
===========================
*/

/* ----- 1. GLOBAL ----- */
:root {
    --ivory: hsl(60, 100%, 97%, 1);
    --gold: hsl(51, 100%, 50%, 1);
    --dark-gold: hsl(43, 74%, 49%, 1);
    --navy: hsl(208, 100%, 7%, 1);
    --light-navy: hsl(208, 100%, 20%, 1);
}

html {
    font-size: 20px;
}
/* ----- 2. MAIN ------- */
/* ----- 3. NAV -------- */
/* ----- 4. QUERIES ---- */