/* 
===========================
|    TABLE OF CONTENTS    |
=========================== 
|    1. GLOBAL            |
|    2. MAIN              |
|    3. NAV               |
|    4. QUERIES           |
===========================
*/

/* ----- 1. GLOBAL ----- */
:root {
    --ivory: hsl(60, 100%, 97%, 1);
    --gold: hsl(51, 100%, 50%, 1);
    --dark-gold: hsl(43, 74%, 49%, 1);
    --navy: hsl(208, 100%, 7%, 1);
    --light-navy: hsl(208, 100%, 20%, 1);
}

html {
    font-size: 20px;
}

body {
    display: flex;
    /* flex-flow: row nowrap; */
    gap: 0;

    background-color: var(--ivory);
    color: var(--light-navy);
    font-family: Philosopher;
    margin: 0;
}

a {
    color: var(--dark-gold);
    cursor: pointer;
    text-decoration: none;
}

/* ----- 2. MAIN ------- */
article {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    gap: 1rem;

    border: .25rem solid var(--dark-gold);
    border-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQO_Nv5Z6vd4WVSkhwRYK1FgRV74wMwJmpVaA:7-themes.com/data-images/collection/6/4471847-gold-wallpapers.jpg") 10 round;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    overflow-y: scroll;
    align-items: center;
}

main {
    display: grid;
    margin: 1rem 1.5rem;
}

#img-and-header {
    text-align: center;
}

#bigger-blurb p span {
    font-weight: 900;
    text-decoration: double;
}

#blurb {
    font-size: clamp(1em, 2.5vw, 1.75em);
    text-align: center;
    padding: 0 .5em;
}

#greetings {
    color: var(--dark-gold);
    font-size: clamp(1em, 2.75vw, 2em);
    font-style: italic;
    font-weight: 900;
}

#name, #titles {
    display: flex;
    justify-content: center;
    text-align: center;
}

#name {
    flex-wrap: wrap;

    color: var(--navy);
    font-family: Neonderthaw;
    font-size: clamp(2rem, 7vw, 5rem);
    margin: 0;
    min-width: fit-content;
    padding: .25em;
    text-shadow: 0 0 7px var(--light-navy);
}

#titles {
    flex-direction: column;

    border-left: .1em double var(--dark-gold);
    border-right: .1em double var(--dark-gold);
    border-radius: 5%;
    font-size: clamp(1.25rem, 4vw, 2.5rem);
    margin: 0 1em;
}

#titles span {
    margin: 0 .25em;
}

#skills-by-number {
    display: grid;
    justify-items: center;
}

/* ----- b. logos ----- */
#lang-proficiency {
    display: grid;
    align-items: center;
    justify-content: start;
}

/* #lang-proficiency > div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: .25em 0;
} */

/* ------ c. bars ------ */
.progress-bar-container {
    height: fit-content;
    width: 75vw;

    background-color: var(--navy);
    border-radius: 20px 70px 10px 20px;
    color: var(--light-ivory);
    margin: .5em;
    padding: .15em;
}

#sql i { background-image: url(images/sql.png); }
#sheets i { background-image: url(images/google-sheets.png); }
#js i { background-image: url(images/js.png); }
#git i { background-image: url(images/git.png); }
#html i { background-image: url(images/html-5.png); }
#apps-script i { background-image: url(images/google-apps-script.png); }
#css i { background-image: url(images/css-3.png); }
#react i { background-image: url(images/react.png); }
#bootstrap i { background-image: url(images/bootstrap.png); }
#sass i { background-image: url(images/sass.png); }
#json i { background-image: url(images/json.png); }
#jquery i { background-image: url(images/jquery.png); }

.progress-bar {
    display: flex;
    justify-content: space-between;

    background-size: 1.25rem auto;
    background-position: 1vw;
    background-repeat: no-repeat;
    background-color: hsl(208, 100%, 87%, 1);
    border-radius: 20px 70px 10px 20px;
    color: var(--navy);
    margin: .25em;
    text-align: right;

    height: fit-content;
    width: 60%;
}

.progress-bar i {
    background-color: var(--ivory);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.5rem auto;
    border-radius: 10px 0 0 10px;
    padding: 1em;
}

.progress-bar .text {
    align-self: center;
    margin-right: 1em;
}

/* ----- 3. NAV -------- */
nav {
    display: flex;
    align-items: center;
    flex-flow: column wrap-reverse;
    flex-shrink: 0;
    justify-content: space-between;

    background-color: var(--navy);
    font-size: clamp(.5rem, 5vw, 3rem);
    min-height: 100vh;
}

nav a:hover {
    color: var(--gold);
}

#nav-bottom,
#nav-top {
    padding: .75rem 0;
}

#nav-links,
#nav-top {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    gap: 10vh;
}

#nav-bottom .icon {
    margin: .5em;
}

#nav-links {
    justify-content: space-around;
    font-size: 1em;
}

#nav-top {
    justify-content: flex-start;
}

#site-logo img {
    width: 1.5em;
}

.words {
    align-items: center;
    height: fit-content;
    justify-content: center;
    transform: rotate(-90deg);
}

/* ----- 4. QUERIES ---- */
/* _____ a. laptops ____ */
@media only screen and (min-width: 768px) {
    #blurb {
        display: flex;
        flex-flow: column nowrap;
    }

    #titles {
        align-items: center;
        flex-flow: row nowrap;
        justify-content: space-evenly;

        border: none;
    }

    .line {
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQO_Nv5Z6vd4WVSkhwRYK1FgRV74wMwJmpVaA:7-themes.com/data-images/collection/6/4471847-gold-wallpapers.jpg");
        height: .1em;
        width: 2vw;
        margin-top: .25em;
    }
}

/* _____ b. desktops ___ */
@media only screen and (min-width: 1025px) {
    article {
        flex-direction: row;
    }

    #titles {
        flex-direction: column;

        border-left: .1em double var(--dark-gold);
        border-right: .1em double var(--dark-gold);
        border-radius: 5%;
    }

    .line {
        display: none;
    }
}