/* 
===========================
|    TABLE OF CONTENTS    |
=========================== 
|    1. GLOBAL            |
|    2. MAIN              |
|    3. NAV               |
|    4. QUERIES           |
===========================
*/

/* ----- 1. GLOBAL ----- */
:root {
    --ivory: hsl(60, 100%, 97%, 1);
    --gold: hsl(51, 100%, 50%, 1);
    --dark-gold: hsl(43, 74%, 49%, 1);
    --navy: hsl(208, 100%, 7%, 1);
    --light-navy: hsl(208, 100%, 20%, 1);
}

html {
    font-size: 20px;
    scroll-behavior: smooth;
}

body {
    display: flex;
    gap: 0;

    background-color: var(--ivory);
    color: var(--light-navy);
    font-family: Philosopher;
    margin: 0;
}

a {
    color: var(--dark-gold);
    cursor: pointer;
    text-decoration: none;
}

/* ----- 2. MAIN ------- */
main {
    display: flex;
    flex-flow: row-reverse wrap;
    gap: 1rem;

    border: .25rem solid var(--dark-gold);
    border-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQO_Nv5Z6vd4WVSkhwRYK1FgRV74wMwJmpVaA:7-themes.com/data-images/collection/6/4471847-gold-wallpapers.jpg") 10 round;
    height: 100vh;
    overflow-y: scroll;
}

main section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}

#img-and-header {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    gap: 2em;

    border-bottom: .25rem solid var(--dark-gold);
    padding: 0 1em;
}

#img-and-header img {
    max-width: 45vw;
}

h2 > span {
    line-height: 1.5em;
}

#lang-icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    max-height: clamp(1em, 7vw, 3.5em);
    max-width: clamp(1em, 7vw, 3.5em);
    padding: 0 .5em;
    object-fit: contain;
}

select {
    font-size: 20px;
    margin-top: .5em;
    text-align: center;
}

/* ----- 3. NAV -------- */
nav {
    display: flex;
    align-items: center;
    flex-flow: column wrap-reverse;
    flex-shrink: 0;
    justify-content: space-between;

    background-color: var(--navy);
    font-size: clamp(.5rem, 5vw, 3rem);
    min-height: 100vh;
}

nav a:hover {
    color: var(--gold);
}

#nav-bottom,
#nav-top {
    padding: .75rem 0;
}

#nav-links,
#nav-top {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    gap: 10vh;
}

#nav-bottom .icon {
    margin: .5em;
}

#nav-links {
    justify-content: space-around;
    font-size: 1em;
}

#nav-top {
    justify-content: flex-start;
}

#site-logo img {
    width: 1.5em;
}

.words {
    align-items: center;
    height: fit-content;
    justify-content: center;
    transform: rotate(-90deg);
}

/* ----- 4. QUERIES ---- */
/* _____ a. laptops ____ */
/* _____ b. desktops ___ */